$black: #323232;
$red: #b74b41;
$blue: #607bab;
$white: #ffffff;
$good: #55a84f;
$satisfactory: #a3c853;
$moderate: #fff851;
$poor: #f29c3e;
$very-poor: #e93f33;
$severe: #af2d24;
$border-light: #eeeeee;